footer{
    width: 100%;
    display: flex;
    justify-content: space-around;
    max-width: 1200px;
    margin: 0 auto;
}

footer > *{
    flex-basis: 100%;
}

footer > .img{
    display: flex;
}
footer > .img > img{
    height: 100px;
    width: 325px;
    margin: var(--space-lg) auto;
}
footer > h3{
    line-height: calc(100px + var(--space-lg) * 2);
    text-align: center;
    margin: 0;
}

footer > ul{
    padding: 0;
    list-style: none;
    text-align: center;
}

footer > ul > li > a{
    text-decoration: none;
    color: var(--color-text);
    cursor: pointer;
}

@media (max-width: 820px) {
    footer{
        flex-direction: column;
    }
    footer > .img > img{
        height: calc(100px*(1/2));
        width: calc(325px*(1/2));
        margin: var(--space-lg) auto;
    }
}